.App {
  display: flex;
  flex-wrap: wrap;
  flex: content;
  align-items: center;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cdcontent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 240px;
  width: 240px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px 20px;
}

.card {
  display: flex;
  justify-items: stretch;
  align-items: center;
}
